.login{
    height: 100%;
    width: 100%;
    background-image: url('../Image/background-3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
}
.login .loginForm{
   padding-top: 200px;
}
.loginForm .login-form{
    margin:auto;
    width: 20%;
}